.arrow {
    fill: none;
    stroke: #FFF;
    stroke-width: 3px;
    stroke-dasharray: 36,5;
    stroke-dashoffset: 82;;
    animation: lineMove 2s infinite linear;
}

@keyframes lineMove {
    to {
        stroke-dashoffset: 0;
    }
}

.pull-down {
    margin-top: .6em;
}
