.params-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1em;
}

.field-input.inputError {
    border: 1px solid var(--error-highlight);
    border-left: 1em solid var(--error-highlight);
    padding-right: 0;
    transition: border-width 0.15s linear;

}

.params-form {
    display: flex;
}

.errorSpan {
    color: var(--error-highlight);
    align-self: center;
    font-size: 1em;
}

.params-label {
    width: 100%;
    padding-top: 0.6em;
    vertical-align: center;
    margin-right: 0;
    padding-left: 0;
    color: var(--white)
}

.params-label.inputError {
    color: var(--error-highlight);
}

.header {
    margin-top: 2em;
    color: var(--white);
}
