

.refresh {
    margin-left: 1em;
    align-self: flex-end;
    margin-left: auto;
}
.refresh a {
    background-color: var(--medium-blue--disabled);
    border-radius: .3em;
}


.refresh a:hover {
    border: 1px solid var(--medium-blue);
}
