.dropdown {
    background-color: var(--darker-blue);
    padding: .4em .2em;
    width: 21%;
    border-radius: .4em;
    border: 2px solid var(--medium-blue--disabled);
    display: inline-block;
    position: relative;
    padding: 0;
    float: left;
    margin-top: 1em;
}

.dropdown-label {
    margin-top: 1em;
    color: var(--white);
    margin-left: 1em;
    margin-bottom: .5em;
}


.dropdown-menu {
    display: none; /* Hides the menu initially */
    position: absolute;
    left: 0;      /* Positions the drop downdown initially */
    top: 1em;   /* Padding and border are rought 2.1em */
    min-width: 100%; /* Ensures its as wide as its container/ dropdown width of this determined by the label */
}

.dropdown:hover .dropdown-menu {
    display: block; /* Reveals the menu on hover */
}

.dropdown.selected .dropdown-menu{
    display: block;
}

.submenu {
    padding-left: 0em;
    margin: 0;
    list-style-type: none;
    margin-top: 30px;

}



