.file {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    position: relative;
    background-color: var(--darker-blue);
    color: var(--white);
    width: 13.8em;
    padding: .7em 0.3em;
    cursor: pointer;
    margin-right: 3em;
    border-radius: .4em;
    border: .1em solid var(--medium-blue--disabled);
}

.file:hover {
    border: .1em solid var(--medium-blue);
}

.file-label {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    cursor: inherit;
    line-height: 1.8;
    margin-left: .2em;
}

.file-input {
    height: 100%;
    left: 0;
    opacity: 0;
    outline: 0;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: inherit;
}

.file-cta {
    display: flex;
    color: var(--white);
    background-color: var(--darker-blue);
    font-size: 1em;
    border-radius: 0.5em;
    white-space: nowrap;
}

.file-icon {
    align-items: center;
    display: flex;
    height: 1em;
    justify-content: center;
    margin-right: .5em;
    width: 1em;
    margin-left: .2em;
}

.down-icon {
    height: 1.5em;
    width: 1.5em;
    padding-bottom: 1.1em;
    margin-left: 4em;
}
