.info-help {
    color: var(--white);
    font-weight: 400;
    font-size: .9rem;
    background-color: var(--darker-blue);
    padding: 1em;
    border-radius: .4em;
    border: .1em solid var(--medium-blue--disabled);
    display: flex;
}

.info-help-icon {
    margin-right: 1em;
}

.info-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    margin-left: 1em;
    border-radius: .3em;
    color: var(--alert);
    border: 2px solid var(--medium-blue--disabled);
}

.info-help-title {
    font-weight: 800;
    font-size: 1.1em;
    padding-bottom: .2em;
}

.info-Errors{
    display: flex;
    flex-direction: column;
}
