li {
    text-decoration: none;
    list-style: none;
    color: var(--white);
    padding-left: 1em;
}

.option {
    padding: 1em;
    /*margin-top: .em;*/
}

.option:hover {
    background-color: var(--darkest-blue);
    border-radius: .4em;
    border: 2px solid var(--medium-blue--disabled);
}

.select-icon {
    padding-left: 3.5em;
    vertical-align: -0.25em;

}

.option.selected {
    background-color: var(--darkest-blue);
    border-radius: .4em;
    border: 2px solid var(--medium-blue--disabled);
}
/*option.selected*/

