.nav{
    display: flex;
    list-style-type: none;
    padding:  0;

}

.nav li{
    width: 20%;
    padding-left: 0;
}

.nav li + li {
    padding-left: 0.25em;
}

/*.nav li + li {*/
/*    margin-left: .525em;*/
/*}*/

.nav li > a {
    text-align: center;
}

.nav li > a.active {
    text-decoration: underline;
}


/*.nav a{*/
/*    display: block;*/
/*    padding: .8em 1.25em;*/
/*    color: var(--white);*/
/*    background: var(--medium-blue);*/
/*    text-decoration: none;*/
/*}*/

/*.nav a.active {*/
/*    background-color: var(--brand-blue)*/
/*}*/
