.header-container {
    background-color: var(--white);
}

.header-container__inner {
    background-color: var(--light-grey);
    display: flex;
    margin: 0 1rem;
    align-items: flex-end;
    /*justify-content: space-between;*/

}
.header-container__inner h1 {
    margin-bottom: 0;
    font-weight: 500;
    align-self: center;
    margin-left: 15%;
}
.header-container--home {
    width: 11rem;
}

.logo{
    width: 100%;
}
