.step1 {
    color: var(--white);
    font-weight: 400;
    font-size: .9rem;
    background-color: var(--darker-blue);
    padding: 1em;
    border-radius: .4em;
    border: .1em solid var(--medium-blue--disabled);
}

.help-icon {
    margin-right: 1em;
}
