:root {
    box-sizing: border-box;
    --brand-blue: hsl(198,100%,21.4%);
    --medium-blue:  hsl(198,72.5%,45.7%);
    --medium-blue--disabled: hsla(198,72.5%,45.7%, .3);
    --darker-blue: hsl(198,100%,16.5%);
    --darkest-blue: hsl(198,100%,8%);
    --alert: hsl(58, 89%, 46%);
    --white:  	hsl(0, 0%, 100%);
    --light-grey: hsl(220, 14%, 96%);
    --gray: hsl(220, 16%, 96%);

    --text-font: "roboto", sans-serif;
    --heading-font: "Swiss", "Helvetica Rounded", Aria, sans-serif;

}

*,
::before,
::after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Swiss";
    src: url("/fonts/swiss-webfont.woff2") format("woff2"), url("fonts/swiss-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body * + * {
    margin: 0;
}

body {
    font-family: var(--text-font)
}

h1,h2,h3,h3,h5 {
    font-family: var(--heading-font);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

