:root {
    box-sizing: border-box;
    --brand-blue: rgb(0, 76, 109);
    --medium-blue:  rgb(32, 161, 201);
    --darker-blue: rgb(0,58,84);
    --white:  rgb(255, 255, 255);
    --light-grey: #f4f5f7;
    --gray: rgb(244, 245, 247);

    --text-font: "roboto", sans-serif;
    --heading-font: "roboto", "Helvetica Rounded", Aria, sans-serif;

}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    margin: 0;
}

body {
    font-family: var(--text-font)
}

h1,h2,h3,h3,h5 {
    font-family: var(--heading-font);
}

/**ToDo
    1. File Input Styling
    2. Drop Down Boxes Styling
    3. Include Icons.
 */

