:root {
    box-sizing: border-box;
    --brand-blue: rgb(0, 76, 109);
    --medium-blue:  rgb(32, 161, 201);
    --white:  rgb(255, 255, 255);
    --gray: rgb(244, 245, 247);

    --text-font: "roboto", sans-serif;
    --heading-font: "Swiss", "helvetic rounded", Aria, sans-serif;

}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    margin-top: 1.5em;
}

body {
    font-family: var(--text-font)
}

h1,h2,h3,h3,h5 {
    font-family: var(--heading-font);
}

