.field-input {
    background-color: var(--darker-blue);
    border: 2px solid var(--medium-blue--disabled);
    padding: 1em;
    color: var(--white);
    border-radius: .4em;
}

.field-label {
    color: white;
    margin-right: 2em;
    padding-left: .3em;
}


.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: .5em;
}

.params-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1em;
}

.field-input.inputError {
    border: 1px solid var(--error-highlight);
    border-left: 1em solid var(--error-highlight);
    padding-right: 0;
    transition: border-width 0.15s linear;

}

.params-form {
    display: flex;
    margin-left: 1em;
}

.errorSpan {
    color: var(--error-highlight);
    align-self: center;
    font-size: 1em;
}

.params-label {
    width: 100%;
    padding-top: 0.6em;
    vertical-align: center;
    margin-right: 0;
    padding-left: 0;
    color: var(--white)
}

.params-label.inputError {
    color: var(--error-highlight);
}

.header {
    color: var(--white);
    margin-left: 1em;
}

.field-input {
    background-color: var(--darker-blue);
    border: 2px solid var(--medium-blue--disabled);
    padding: 1em;
    color: var(--white);
    border-radius: .4em;
}


.field-label {
    color: white;
    margin-right: 2em;
    padding-left: .3em;
}


.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: .5em;
}

